.order_container{
    background-color: var(--Magnolia);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 6px;
}
.order_container .order{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order_border_button{
    border-bottom: solid 1px var(--Lightgray);
}
.order .radio_plan_title{
    color: var(--Marineblue);
    font-family: 'Ubuntu-bold';
}
.order .radio_plan p{
    margin: 0;
}
.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.total .total_cost{
    font-size: 1.4rem;
    color: var(--Purplishblue);
    font-family: 'Ubuntu-bold';
}