
@font-face {
  font-family: 'Ubuntu-Bold';
  src: url(./assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: 'Ubuntu-Medium';
  src: url(./assets/fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: 'Ubuntu';
  src: url(./assets/fonts/Ubuntu-Regular.ttf);
}

:root {
  font-family: 'Ubunto' ;
  line-height: 1.5;
  

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --Marineblue: hsl(213, 96%, 18%);
  --Purplishblue: hsl(243, 100%, 62%);
  --Pastelblue: hsl(228, 100%, 84%);
  --Lightblue: hsl(206, 94%, 87%);
  --Strawberryred: hsl(354, 84%, 57%);

  --Coolgray: hsl(231, 11%, 63%);
  --Lightgray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--Magnolia);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
